<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      My first Ionic APP!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
  <ion-button (click)="messageClickOn()">Acessar</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>{{message}}</strong>
    <p>Contact-me <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">davijose@gmail.com</a></p>
  </div>
</ion-content>
